{% extends 'base.html.twig' %}

{% block title %}Hello FaqController!{% endblock %}

{% block body %}

   <!-- Start Team Area -->
    <section class="team section">
        <div class="container">
          
            <div class="row">

            {% for category in categories %}
             
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Team -->
                    {# <a href="{{ path('post_show', { 'id': loop.index0 }) }}">Lire</a> #}
                       <a href="{{ path('faq-category',{'slug':category.slug}) }}">
                    <div class="single-team wow fadeInUp" data-wow-delay=".6s">
                        <div class="image">
                            <img src="{{category.image}}" alt="{{category.name}}">
                        </div>
                        <div class="content">
                            <div class="row align-items-center">
                                <div class="col-lg-7 col-12">
                                    <div class="text">
                                        <h3>{{category.name}}</h3>
                                        <h5>{{category.description}}</h5>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-12">
                                    <ul class="social">
                                        <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <!-- End Single Team -->
                </div>

                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Team Area -->
{% endblock %}
