{% if current_Page == 'home' %}
	<div class="col-lg-4 col-md-6 col-12">
	{% else %}
		<div class="col-lg-6 col-md-6 col-12">
		{% endif %}

		<!-- Start Single Blog -->
		<div class="single-blog wow fadeInUp" data-wow-delay=".2s">
			<div class="blog-img">
				<a href="{{path('blog_article',{'slug':article.slug})}}">
					<img src="https://via.placeholder.com/370x215" alt="#">
				</a>
			</div>
			<div class="blog-content">
				<a class="category" href="javascript:void(0)">
					{% for category in article.categories %}
						<span>{{category.name}}
						</span>
					{% endfor %}
				</a>
				<h4>
					<a href="{{path('blog_article',{'slug':article.slug})}}">{{article.title}}</a>
				</h4>
				<p>{{article.content|u.truncate(180, '...', false)}}</p>
				<div class="autor">
					<a href="javascript:void(0)"><img src="https://via.placeholder.com/100x100" alt="#"></a>
					<a href="javascript:void(0)" class="name">Roel Aufderhar</a>
					<ul class="meta-content">
						<li>
							<a href="javascript:void(0)">{{article.createdAt|date("m/d/Y")}}</a>
						</li>
						<li>
							<a href="javascript:void(0)">5 min de lecture</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Single Blog -->
	</div>
